################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

*.ipch
*.db
*.opendb
*.tlog
*.obj
*.pdb
*.log
*.idb
*.exe
*.ilk
*.suo
